@import '../../../styles/vars';

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 116%;
  color: theme-color(black-100);
  opacity: 0.5;
}

.score {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 116%;
  color: theme-color(black-100);
}

@media (max-width: $sm) {
  .title,
  .score {
    text-align: center;
  }
}
