@import '../../../styles/vars';

.container {
  display: flex;
  padding-inline: 60px;
  position: relative;
  width: fit-content;
  height: 74px;
  cursor: pointer;
}

.middle {
  border-top: 1px solid theme-color(black-40);
  border-bottom: 1px solid theme-color(black-40);
  width: 216px;
  height: 72px;
  background: theme-color(white-100);
  z-index: 2;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    width: 17px;
    height: 1px;
    background: theme-color(black-40);
    position: absolute;
    left: 0;
    top: 36.5px;
  }

  &::after {
    content: '';
    width: 17px;
    height: 1px;
    background: theme-color(black-40);
    position: absolute;
    right: 0;
    top: 36.5px;
  }

  &Letter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 116%;
    color: theme-color(orange-100);
    margin-right: 8px;
  }

  &Label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 116%;
    color: theme-color(black-100);
  }
}

.box {
  width: 59px;
  height: 59px;
  background: theme-color(white-100);
  border: 1px solid theme-color(black-40);
  border-radius: 0px;
  transform: rotate(45deg);
  margin-top: 6.7px;
  margin-inline: -33px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.inactive {
  background: theme-color(white-100);
  border-color: theme-color(black-40);
}

.correct {
  background: theme-color(green-5);
  border-color: theme-color(green-100);
}

.wrong {
  background: theme-color(red-5);
  border-color: theme-color(red-100);
}

.selected {
  background: theme-color(orange-5);
  border-color: theme-color(orange-100);
}

.hovered {
  background: theme-color(white-100);
  border-color: theme-color(orange-100);
}
