@import '../../../styles/vars';

.sidebar {
  overflow: hidden;
  transition: all 0.3s ease-in;
  width: 376px;
  height: 100vh;
  background: theme-color(white-100);
}

.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
